{% extends "base.html" %}
{% load staticfiles%}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

    <!-- our logo -->
    <div class="row">

        <img class="col-md-offset-4 col-md-4" src={% static "image/logo.png" %}>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form action="" method="get">
    		    <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        	<span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a class="selection">Anything</a></li>
                          <li class="divider"></li>
                          <li><a class="selection" data="price">Stock Price</a></li>
                          <li><a class="selection" data="percent_change">Percent Change</a></li>
                          <li><a class="selection" data="volume">Volume</a></li>
                          <li><a class="selection" data="change">Change</a></li>
                          <li><a class="selection" data="pre_close">Pre Close</a></li>
                          <li><a class="selection" data="open">Open</a></li>
                          <li><a class="selection" data="avg_daily_volume">Average Daily Volume</a></li>
                          <li><a class="selection" data="stock_exchange">Stock Exchange</a></li>
                          <li><a class="selection" data="market_cap">Market Cap</a></li>
                          <li><a class="selection" data="book_value">Book Value</a></li>
                          <li><a class="selection" data="ebitda">Ebitda</a></li>
                          <li><a class="selection" data="dividend_share">Dividend Share</a></li>
                          <li><a class="selection" data="dividend_yield">Dividend Yield</a></li>
                          <li><a class="selection" data="earnings_share">Earnings Share</a></li>
                          <li><a class="selection" data="days_high">Days High</a></li>
                          <li><a class="selection" data="days_low">Days Low</a></li>
                          <li><a class="selection" data="year_high">Year High</a></li>
                          <li><a class="selection" data="year_low">Year Low</a></li>
                          <li><a class="selection" data="50day_moving_avg">50day Moving Average</a></li>
                          <li><a class="selection" data="200day_moving_avg">200day Moving Average</a></li>
                          <li><a class="selection" data="price_earnings_ratio">Price Earnings Ratio</a></li>
                          <li><a class="selection" data="price_earnings_growth_ratio">Price Earnings Growth Ratio</a></li>
                          <li><a class="selection" data="price_sales">Price Sales</a></li>
                          <li><a class="selection" data="price_book">Price Book</a></li>
                          <li><a class="selection" data="short_ratio">Short Ratio</a></li>
                          <li><a class="selection" data="trade_datetime">Trade Datetime</a></li>
                          <li><a class="selection" data="historical">Historical</a></li>
                          <li><a class="selection" data="info">Info</a></li>
                          <li><a class="selection" data="name">Name</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="method" id="method">
                    <input type="text" class="form-control" name="ticker" placeholder="Search for a company" value="{{ default }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
	</div>

    <br>
    <br>
    <!-- display content -->
    {% if search_method and result%}
    <div class="row">
        <div class="alert alert-info" role="alert" style="font-size: 2em;">{{ search_method }} for {{ ticker }} is <span style="color: {{ color }};">{{ result }}</span></div>
    </div>
    <div class="row">
      <span class="pull-right">Infomation from <a href="https://finance.yahoo.com/">Yahoo Finance</a></span>
    </div>
    {% elif search_method and not result%}
    <div class="row">
        <div class="alert alert-info" role="alert" style="font-size: 2em;">Result not found</span></div>
    </div>
    {% endif %}

</div>

<script>
$(function() {
    $('a.selection').on('click', function() {
        var new_value = $(this).attr('data');
        var new_name = $(this).text();
        $('#method').attr('value', new_value);
        $('#search_concept').html(new_name);
    });
});

</script>
{% endblock %}
