{% extends "base.html" %}
{% load staticfiles%}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

    <!-- our logo -->
    <div class="row">

        <img class="col-md-offset-4 col-md-4" src={% static "image/logo.png" %}>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form action="" method="get">
    		    <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        	<span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a class="selection" data="price">Stock Price</a></li>
                          <li><a class="selection" data="percent_change">Percent Change</a></li>
                          <li><a class="selection" data="volume">Volume</a></li>
                          <li><a class="selection" data="change">Change</a></li>
                          <li><a class="selection" data="pre_close">pre_close</a></li>
                          <li><a class="selection" data="open">open</a></li>
                          <li><a class="selection" data="avg_daily_volume">avg_daily_volume</a></li>
                          <li><a class="selection" data="stock_exchange">stock_exchange</a></li>
                          <li><a class="selection" data="market_cap">market_cap</a></li>
                          <li><a class="selection" data="book_value">book_value</a></li>
                          <li><a class="selection" data="ebitda">ebitda</a></li>
                          <li><a class="selection" data="dividend_share">dividend_share</a></li>
                          <li><a class="selection" data="dividend_yield">dividend_yield</a></li>
                          <li><a class="selection" data="earnings_share">earnings_share</a></li>
                          <li><a class="selection" data="days_high">days_high</a></li>
                          <li><a class="selection" data="days_low">days_low</a></li>
                          <li><a class="selection" data="year_high">year_high</a></li>
                          <li><a class="selection" data="year_low">year_low</a></li>
                          <li><a class="selection" data="50day_moving_avg">50day_moving_avg</a></li>
                          <li><a class="selection" data="200day_moving_avg">200day_moving_avg</a></li>
                          <li><a class="selection" data="price_earnings_ratio">price_earnings_ratio</a></li>
                          <li><a class="selection" data="price_earnings_growth_ratio">price_earnings_growth_ratio</a></li>
                          <li><a class="selection" data="price_sales">price_sales</a></li>
                          <li><a class="selection" data="price_book">price_book</a></li>
                          <li><a class="selection" data="short_ratio">short_ratio</a></li>
                          <li><a class="selection" data="trade_datetime">trade_datetime</a></li>
                          <li><a class="selection" data="historical">historical</a></li>
                          <li><a class="selection" data="info">info</a></li>
                          <li><a class="selection" data="name">name</a></li>
                          <li class="divider"></li>
                          <li><a>Anything</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="method" value="anything" id="method">
                    <input type="text" class="form-control" name="ticker" placeholder="Search for a company">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
	</div>

    <br>
    <br>
    <!-- display content -->
    <div class="row">
        <div class="alert alert-info" role="alert" style="font-size: 2em;">search result is <span style="color: {{ color }};">{{ result }}</span></div>
    </div>

</div>

<script>
$(function() {
    $('a.selection').on('click', function() {
        var new_value = $(this).attr('data');
        var new_name = $(this).text();
        $('#method').attr('value', new_value);
        $('#search_concept').html(new_name);
    });
});

</script>
{% endblock %}
