{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kanic">
    <meta name="author" content="kanic">
    <title>{% block title %}{% endblock %} RBC Captail Market</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- customer css and js for base html -->

    {% block top_css %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Brand</a> -->
        <img src={% static "image/RBC_Royal_Bank.svg.png" %} height="70" width="52">
      </div>

      <div class="collapse navbar-collapse" id="my-navbar">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <span class="logo-name">RBC Captial Market</span>
          </li>
        </ul>

        <!-- <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" action="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div id="bodyContent">
    {% block content %}
    {% endblock %}
  </div>
  <div class="row" id="footer">
    <div class="col-xs-12 text-center">
      <span class="footer-info">
        RBC Captail Market
        <br>
      </span>
    </div>
  </div>
<style>
.navbar-default {
  background-image: none;
  background-color: #05398c;
  border-color: #042860;
}
.logo-name {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: yellow;
  margin-left: 20px;
}
#bodyContent {
  padding-top: 90px;
  min-height: 900px;
}
#footer {
  padding: 30px 0px;
  background-color: #f8f8f8;
}
.footer-info {
  font-size: 13px;
  color: #6b6a6a;
}
</style>

{% block bottom_js %}{% endblock %}
</body>

</html>
